@import "tailwindcss";

@theme {
  --color-brand-orange: #ff7c32;
  --color-brand-green: #c4e477;
  --color-brand-dark: #1a1a1a;
  
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
}

@layer base {
  body {
    @apply text-gray-800 antialiased bg-white;
  }
  
  h1, h2, h3, h4, h5, h6 {
    @apply tracking-tight font-bold;
  }
}
